@model IA.Models.ViewModels.UserViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/styles/bootstrap")
    @Styles.Render("~/styles/local")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-header">
                    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @Html.ActionLink("Informatica Aplicata", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li>@Html.ActionLink("Contact","ProfileDetail","Account")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Structura Catedrei<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Something 2</a></li>
                            </ul>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/1500X500" style="width:100%" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Burghglghgl</h1>
                        <p></p>
                        <p><a class="btn btn-lg btn-primary">yolo</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/1500X500" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Changes to the Grid</h1>
                        <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
                        <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/1500X500" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Percentage-based sizing</h1>
                        <p>With "mobile-first" there is now only one percentage-based grid.</p>
                        <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>


            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    
    <div class="modal fade" id="login-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "Login Error", new { @class = "alert alert-danger" });
                    @Html.TextBoxFor(u => u.UserName, new { @placeholder = "Username" });
                    @Html.PasswordFor(u => u.Password, new { @placeholder = "Password" });
                    @Html.CheckBoxFor(u => u.RememberMe);
                    @Html.LabelFor(u => u.RememberMe);
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                }
                @*<input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">*@

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        @if (!ViewData.ModelState.IsValid)
        {
            @:$("#login-modal").modal("show");
        }
    </script>
    @RenderSection("scripts", required: false)
    <footer></footer>
</body>
</html>